{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('app_contact_admin_show') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_contact_admin_show') }}
    {% endblock %}
{% endblock %}
{% block title %}ContactAdmin
{% endblock %}

{% block body %}
	<h1>{{ mails_by_user[0].username }}</h1>



		<p id="email">{{ mails_by_user[0].email }} <span id="click-to-copy">&#128203;</span> </p>

		<div class="container-mail">
	{% for mail in mails_by_user %}
			<p class="mail-bubble">
				{{ mail.content }}
			</p>

	{% endfor %}
		</div>


	<a href="{{ path('app_contact_admin') }}">Boites de reception</a>

	{{ include('contact_admin/_delete_form.html.twig') }}
{% endblock %}
