{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
		{% block stylesheets %}
    {{ parent() }}
			{{ encore_entry_link_tags('app_home') }}

		{% endblock %}
		{% block javascripts %}
    {{ parent() }}
			{{ encore_entry_script_tags('app_home') }}

		{% endblock %}
{% endblock %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="container-home">
<div class="container-home-left">
<ul>
<li> <a href="">QUIZ</a> </li>
<li><a href="">PENDU</a></li>
<li><a href="">RPG</a></li>
</ul>
</div>
<div class="container-home-right">
<img class="bgr-logo" src="{{ asset('images/home-logo/logo-background.png')}}" alt="image background">
<img class="logo" src="{{ asset('images/home-logo/logo.png')}}" alt="image logo">
</div>
</div>
{% endblock %}
