{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	{% block stylesheets %}
		{{ parent() }}
		{{ encore_entry_link_tags('app_register') }}

	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('app_register') }}

	{% endblock %}
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-register">
		<div class="card-register">
			<h1>S'inscrire</h1>

			{{ form_start(registrationForm, {'attr': {'class': 'ul', 'autocomplete': 'off'}}) }}
			{{ form_row(registrationForm.email, {'label': false, 'attr': {'class': 'input', 'placeholder': 'Email'}}) }}
			{{ form_row(registrationForm.username, {'label': false, 'attr': {'class': 'input', 'placeholder': 'Pseudo'}}) }}
			{{ form_row(registrationForm.plainPassword, {'label': false, 'attr': {'class': 'input', 'placeholder': 'mot de passe'}}) }}
			<button type="submit" class="btn"><span>Créer un compte</span></button>
			<p>Vous avez déjà un compte?
				<a href="{{ path('app_login') }}">Connectez-vous</a>
			</p>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
 