{% extends 'base.html.twig' %}
{% block head %}
	{{ parent() }}
	{% block stylesheets %}
		{{ parent() }}
		{{ encore_entry_link_tags('app_hangman_game') }}
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('app_hangman_game') }}
	{% endblock %}
{% endblock %}

{% block title %}Hangman game
{% endblock %}

{% block body %}


	<div class="container-hangman-game container-base">
		<div>
			<div id="game">
				<div id="game-text">
					<div class="word-to-find">
						<span id="word-to-find"></span>
					</div>
					<div class="keybord">
						<span id="key-contain"></span>
					</div>
				</div>
				<div id="result">
					<div id="game-over">
						<h2>Perdu !</h2>
						<p>Le mot à trouver était :
							<span id="gOWord"></span>
						</p>
					</div>
					<div id="victory">
						<h2>Gagné !</h2>
					</div>
					<button class="btn-neon"type="submit" id="btn-reload"><span>Rejouer</span></button>
				</div>
				<div id="game-image">
					<img src="{{ asset('images/hangman/hang0.png') }}" id="img">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
