<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			AstroGamer
		</title>
		<link
		rel="icon" href="{{ asset('images/logo/ag.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar">
			<div href="{{ path('app_home') }}" class="nav-title"><img src="{{ asset('images/navbar/AstroGamer.png')}}" alt="Logo astro gamer"></div>
			<div href="{{ path('app_login') }}" class="nav-login"><img src="{{ asset('images/navbar/login.png')}}" alt="Logo astro gamer">
{% if is_granted('ROLE_USER') %}
    <!-- Si l'utilisateur a le rôle ROLE_USER -->
			<a href="{{ path('app_login') }}">ilyès</a>
{% elseif is_granted('ROLE_ADMIN') %}
    <!-- Si l'utilisateur a le rôle ROLE_ADMIN -->
			<a href="{{ path('app_login') }}">Ilyès sherif</a>
{% else %}
    <!-- Si l'utilisateur n'est pas authentifié -->
			<a href="{{ path('app_login') }}">Login</a>
{% endif %}





			</div>
		</nav>
		{% block body %}{% endblock %}
		<div class="container-nav-bottom">
			<div class="contain-nav">
				<div class="nav">
					<ul>
						<li class="nav-list active">
							<a href="">
								<span class="icon"><img src="{{ asset('images/icon/home.png')}}" alt="icone d'acceuil"></span>
								<span class="text">Acceuil</span>
							</a>
						</li>
						<li class="nav-list">
							<a href="">
								<span class="icon"><img src="{{ asset('images/icon/setting.png')}}" alt="icone de reglages"></span>
								<span class="text">Règlage</span>
							</a>
						</li>
						<li class="nav-list">
							<a href="">
								<span class="icon"><img src="{{ asset('images/icon/user.png')}}" alt="icone de compte"></span>
								<span class="text">Compte</span>
							</a>
						</li>
						<li class="nav-list">
							<a href="">
								<span class="icon"><img src="{{ asset('images/icon/contact.png')}}" alt="icone de contact"></span>
								<span class="text">Contact</span>
							</a>
						</li>
						<div class="indicator"></div>
					</ul>
				</div>
			</div>
			<div class="contain-contact">
				<div class="contact">
					<ul>
						<li class="instagram">
							<a href=""><img src="{{ asset('images/icon/instagram.png')}}" alt="icon instagram"></a>
						</li>
						<li class="facebook">
							<a href=""><img class="reverse" src="{{ asset('images/icon/facebook.png')}}" alt="icon facebook"></a>
						</li>
						<li class="linkedin">
							<a href=""><img src="{{ asset('images/icon/linkedin.png')}}" alt="icon linkedin"></a>
						</li>
						<li class="mail">
							<a href=""><img class="reverse" src="{{ asset('images/icon/mail.png')}}" alt="icon e-mail"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
