<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			AstroGamer
		</title>
		<link
		rel="icon" href="{{ asset('images/logo/ag.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar">
			<div href="{{ path('app_home') }}" class="nav-title"><img src="{{ asset('images/navbar/AstroGamer.png')}}" alt="Logo astro gamer"></div>
			<div href="{{ path('app_login') }}" class="nav-login"><img src="{{ asset('images/navbar/login.png')}}" alt="Logo astro gamer">
				{% if is_granted('ROLE_ADMIN') %}
					<!-- Si l'utilisateur a le rôle ROLE_ADMIN -->
					<span class="account">
						&#9885;
						{{ app.user.username }}</span>
				{% elseif is_granted('ROLE_USER') %}
					<!-- Si l'utilisateur a le rôle ROLE_USER -->
					<span class="account">{{ app.user.username }}</span>
				{% else %}
					<!-- Si l'utilisateur n'est pas authentifié -->
					<a href="{{ path('app_login') }}">Login</a>
				{% endif %}
				{# <a href="{{ path('app_logout') }}">Se déconnecter</a> #}


			</div>
		</nav>
		{% block body %}{% endblock %}
		<div class="container-nav-bottom">
			<div class="contain-nav">
				<div class="nav">
					<ul>
						<li class="nav-list active">
							<div class="items">
								<span class="icon"><img src="{{ asset('images/icon/home.png')}}" alt="icone d'acceuil"></span>
								<span class="text">
									<a href="{{ path('app_home') }}">Acceuil</a>
								</span>
							</div>
						</li>
						<li class="nav-list">
							<div class="items">
								<span class="icon"><img src="{{ asset('images/icon/setting.png')}}" alt="icone de reglages"></span>
								<span class="text" id="settings">Règlage</span>
							</div>
						</li>
						<li class="nav-list">
							<div class="items">
								<span class="icon"><img src="{{ asset('images/icon/user.png')}}" alt="icone de compte"></span>
								<span class="text account">Compte</span>
							</div>
						</li>
						<li class="nav-list">
							<div class="items">
								<span class="icon"><img src="{{ asset('images/icon/contact.png')}}" alt="icone de contact"></span>
								<span class="text" id="contact">
									<a href="
									{% if is_granted('ROLE_ADMIN') %}
									{{ path('app_contact_admin', { page: 1 }) }}
									{% elseif is_granted('ROLE_USER') %}
									{{ path('app_contact') }}
									{% else %}
									{{ path('app_login') }}
									{% endif %}
									">Contact</a>
								</span>
							</div>
						</li>
						<div class="indicator"></div>
					</ul>
				</div>
			</div>
			<div class="contain-contact">
				<div class="contact">
					<ul>
						<li class="instagram">
							<a href=""><img src="{{ asset('images/icon/instagram.png')}}" alt="icon instagram"></a>
						</li>
						<li class="facebook">
							<a href=""><img class="reverse" src="{{ asset('images/icon/facebook.png')}}" alt="icon facebook"></a>
						</li>
						<li class="linkedin">
							<a href=""><img src="{{ asset('images/icon/linkedin.png')}}" alt="icon linkedin"></a>
						</li>
						<li class="mail">
							<a href=""><img class="reverse" src="{{ asset('images/icon/mail.png')}}" alt="icon e-mail"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="menu" id="settings-menu">
			<div class="close">
				<span>Fermer</span>
			</div>
			<div class="container-menu">
				<h2>Règlages</h2>
				<p class="info">
					<span></span>
				</p>
			</div>

		</div>
		<div class="menu" id="user-menu">
			<div class="close">
				<span>Fermer</span>
			</div>
			<div class="container-menu">
				<h2>Mon Compte</h2>
				<p class="info">
					{% if is_granted("IS_AUTHENTICATED_FULLY") %}
						<span>
							<b>
								Pseudo :</b>
							{{ app.user.username }}</span>
						<span>
							<b>Adresse mail :</b>
							{{ app.user.email }}</span>
						<span>
							<b>Score :</b>
							{{ app.user.score }}</span>
						{% if app.user.roles[0] == 'ROLE_ADMIN' %}
							<span>
								<b>Role :</b>
								Admin</span>
						{% endif %}

						<span>
							<a href="{{ path('app_logout') }}">Se déconnecter</a>
						</span>

					{% else %}
						<span>Vous n'êtes pas connecter</span>

						<a href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</p>

			</div>
		</div>

	</body>
</html></body></html>
